{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block menus %}

    <li class="nav-item"><a href="{{ path('logout') }}" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Logout</a></li>

{% endblock %}

{% block body %}
<header class="bg-gradient" id="home"></header>

    <div class="card formcard">
        <div class="card-body">
            {{qrcode | raw}}
        </div>
    </div>

{% endblock %}

